$color: skyblue
path
    &:hover
        stroke-width: 2px
        fill: rgba($color, 0.5) !important
        stroke: $color !important
        transition: fill 0.2s, stroke-width 0.2s

.map-tooltip, .point-tooltip
    background-color: white 
    padding: 4px
    border-radius: 2px
    font-size: 0.8em
    transition: opacity 0.2s

.point-tooltip
    background-color: #333
    color: white

input[type=range]
    max-width: 100%
    margin-bottom: 20px
body, input
    border-sizing: border-box
body
    color: #333

.info 
    position: absolute
    width: 300px 
    background-color: rgba(white, 0.5)
    bottom: 0px
    padding: 20px