path
    &:hover
        stroke-width: 2px
        fill: lightgrey !important

.map-tooltip, .point-tooltip
    background-color: white 
    padding: 4px
    border-radius: 2px
    font-size: 0.8em

.point-tooltip
    background-color: #333
    color: white

input[type=range]
    max-width: 100%
    margin-bottom: 20px
body, input
    border-sizing: border-box
body
    color: #333

.info 
    position: absolute
    width: 200px 
    background-color: rgba(white, 0.5)
    bottom: 0px
    padding: 20px